.first {
    background-color: aqua;
}
#ha {
    background-color: aqua;
}


.first {
    display: inline;
}

#jj {
    display: block;
}

#hi {
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    padding: 20px;
    display: block;
    
}

